@model IEnumerable<BatchImageDiagnosis>

@{
    ViewData["Title"] = "Data analysis home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-6">
      <canvas id="pieChart"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-xl-6">
      <canvas id="barChart"></canvas>
    </div>
</div>
<script src="~/js/chart.js"></script>


<script>
  const barChart = document.getElementById('barChart');

  new Chart(barChart, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  const ctx = document.getElementById('pieChart');
  new Chart(ctx, {
    type: 'doughnut',
    data: {
    labels: ['Red', 'Blue'],
    datasets: [{
        label: 'My First Dataset',
        data: [300, 100],
        backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)'
        ],
        hoverOffset: 4
        }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }

  });

</script>
