@model IEnumerable<BatchImageDiagnosis>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create single image project";
}

<div class="card-deck">
    @* @foreach(var project in Model) *@

</div>