@model IEnumerable<BatchImageDiagnosis>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Create single image project";
}


@if (Model.Any())
{
<div class="card-deck">

    @foreach (var project in Model)
    {
        <div class="card m-3 batch-details" style="min-width: 18rem; max-width:30.5%;">
            <div class="batch-details">
                <div class="card-header">
                    <h3>@project.Name</h3>
                </div>

                <div class="card-header">
                    <h3>@project.Id</h3>
                </div>

                <div class="card-footer text-center d-flex">
                    <a asp-controller="Diagnosis" asp-action="BatchDetails" asp-route-id="@project.Id" 
                    class="btn btn-primary m-1">View</a>

                    <a href="#" class="btn btn-danger  m-1">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
}
else 
{
    <div class="card">
    <div class="card-header">No batch image diagnosis project created yet.</div>
    <div class="card-body">
        <h5 class="card-title">
            Use the button below to create a project.
        </h5>

        <a class="btn btn-primary" style="width: auto" asp-controller="Home" asp-action="CreateBatch">Create</a>
    </div>
</div>   
}

