@model SingleImageDiagnosisViewModel

@{
    ViewData["Title"] = "Single diagnosis page";
}

<form enctype="multipart/form-data" asp-action="ImageInference" method="post">
    <div class="col-lg-6">
        <div class="card mb-4 d-flex ">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Drop image here.
            </div>

            <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" alt="example placeholder"
                style="width: 300px;" />
        </div>

        <div class="d-flex justify-content-center">
            <div class="btn btn-primary btn-rounded">
                <label class="form-label text-white m-1" asp-for="Photos">Choose file</label>
                <input multiple asp-for="Photos" class="form-control custom-file-input d-none">
            </div>
        </div>
    </div>
</form>