@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-floating mb-3">
        <label asp-for="Email"></label>
        <input class="form-control" asp-for="Email" type="text" placeholder="name@example.com" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="form-floating mb-3">
        <label asp-for="Password"></label>
        <input class="form-control" asp-for="Password" type="password" placeholder="Password" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <div class="form-floating mb-3">
        <div class="checkbox">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
       </div>
    </div>

    <button class="btn btn-primary w-100" type="submit">Login </button>
</form>