@model RegisterViewModel;
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>User Registration</h1>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <input class="form-control" asp-for="Email" type="text" placeholder="Email" />
        <ion-icon name="mail-outline"></ion-icon>
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>

    <div class="form-group">
        <input class="form-control" asp-for="City" type="text" placeholder="City" />
        <ion-icon name="mail-outline"></ion-icon>
        <span class="text-danger" asp-validation-for="City"></span>
    </div>
    
    <div class="form-group">
        <input class="form-control" asp-for="Password" type="password" placeholder="Password" />
        <ion-icon name="lock-closed-outline"></ion-icon>
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>

    <div class="form-group">
        <input class="form-control" asp-for="ConfirmPassword" type="password" placeholder="Confirm Password" />
        <ion-icon name="lock-open-outline"></ion-icon>
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>

    <button class="btn primary w-100" type="submit">Sign Up</button>
    <p class="noAcc">Already have an account ? <a asp-action="Login"> Login </a></p>

</form>